{% extends "layout.html" %}
{% block title %}SmartScribe{% endblock %}
{% block body %}

<style>
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    h1 img {
        animation: fadeIn 1.5s ease-in-out;
    }
    
    h1 {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        font-size: 2rem;
        animation: fadeIn 2s ease-in-out;
    }
    div.container h1{
        font-size: 55px;
        color: black;
        padding-top: 215px;
        font-weight: 600;
        padding-bottom: 145px;
        padding-right: 30px;
        font-family: 'Times New Roman', serif;
    }
    div.container p{
        font-size: 18px;
        color: black;
        padding-top: 150px;
        font-weight: 400;
        padding-bottom: 100px;
        padding-right: 30px;
    }
</style>

<div class="container">
    <div class = "row">
    <div class="col">
        <center>
        <h1><img src="static\favicon_io\SmartScribeLogo.png" width="100" height="100">
        SmartScribe
        </h1>
        </center>
    </div>
    <!--<div class="col">
        <center>
        <p>Hi friends<br>I can help evaluate subjective answers based on certain criteria<br>and 
            guidelines provided to me. However, it is important to note<br>that subjective answers can be influenced by various factors<br> 
            such as personal biases, emotions, and cultural background,<br>which may not be fully understood by me. Therefore, while I can<br>provide a level of objective analysis, 
            I cannot replace the value of human<br>judgement and contextual understanding in evaluating subjective answers.</p>
        </center>     
    </div>-->
    </div>
</div>

{% endblock %}